<div class="page-width">
    <div class="pb-12 text-left md:text-center">
        {% render 'icon-manos', class: 'w-14 h-14 md:w-20 h-20 md:block md:mx-auto' %}
        <h2 class="font-bold uppercase tracking-[1.5px] text-xl mt-8">Somos un taller mobiliario con <span class="text-[#00abdd]">diseños simples y democráticos</span>,<br>fabricados con materiales duraderos y de calidad</h2>
        <p class="tracking-[1.5px] my-6">
            Nos inspira fabricar muebles basados en un diseño democrático, con esto apuntamos a un diseño accesible que logre abarcar una mayor cantidad de personas, considerando la forma, calidad, funcionalidad, sostenibilidad y mantener un equilibrio en la relación calidad y precio.
        </p>
        <a href="/pages/nosotros" class="btn-transparent" style="width: max-content; display:block; margin:0 auto;" >
            CONÓCENOS MÁS 
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Home Text",
    "settings":[]
}
{% endschema %}


