<div class="page-width">
    <div class="grid-medidas md:items-center gap-4">
        <div class="text-medida">
            <h2 class="uppercase text-xl tracking-[2.5px] text-left mb-6">SERVICIO PERSONALIZADO Y CORPORATIVOS</h2>
            <p class="tracking-[1.5px]">
                Si requieres de un servicio más personalizado,  nuestro equipo te visita para aclarar todas tus dudas, tomar medidas y asesorarte  sobre el producto que quieres realizar.<br>
                En kallfü también realizamos trabajos corporativos para empresas y/o eventos especiales que requieran un producto a medida.
            </p>
            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 my-6">
                <a href="#" class="bg-[#121212] border border-[#121212] text-white text-sm uppercase tracking-[1.5px] px-4 py-2 flex justify-center md:inline-flex ">Agenda tu visita</a>
                <a href="#" class="bg-white border border-[#121212] text-[#121212] text-sm uppercase tracking-[1.5px] px-4 py-2 flex justify-center md:inline-flex ">Ver Proyectos</a>
            </div>
        </div>
        <div class="image-medida bg-gray-600 w-full h-40">
            <img src="" alt="" width="100%">
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Home a Medida",
    "settings": []
}
{% endschema %}