<h1>{{ product.title }}</h1>
<form action="/cart/add">
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <input type="hidden" name="quantity" value="1">
    <button type="submit">
        Add to cart
    </button>
</form>